﻿﻿<mat-toolbar color="primary">
  <span>PKI System</span>
  <span class="spacer"></span>
  <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
    <span class="user-email">{{ authService.getEmail() }}</span>
    <button mat-button routerLink="/certificates">Sertifikati</button>
    <button mat-button routerLink="/password-manager">Menadžer lozinki</button>
    <button mat-button routerLink="/csr-upload" *ngIf="authService.getRole() === 'END_ENTITY'">CSR Zahtjev</button>
    <button mat-button routerLink="/templates"
            *ngIf="authService.getRole() === 'ADMIN' || authService.getRole() === 'CA_USER'">
      Šabloni
    </button>
    <button mat-button routerLink="/sessions">Sesije</button>
    <button mat-button (click)="logout()">Odjavi se</button>
  </ng-container>
  <ng-template #notLoggedIn>
    <button mat-button routerLink="/login">Prijava</button>
    <button mat-button routerLink="/register">Registracija</button>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
